<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<body>
<div th:fragment="content">

    <div class="level-right">
        <div class="dropdown is-right is-hidden-touch" id="add-transaction-dropdown">
            <div class="dropdown-trigger">
                <button class="button is-primary" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span>Novo Lançamento</span>
                    <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <a href="#" id="add-income-expense-trigger" class="dropdown-item">Receita / Despesa</a>
                    <a href="#" id="add-cc-expense-trigger" class="dropdown-item">Despesa do Cartão</a>
                    <a href="#" id="add-payment-trigger" class="dropdown-item">Pagar Fatura</a>
                    <a href="#" id="add-transfer-trigger" class="dropdown-item">Transferência</a>
                </div>
            </div>
        </div>
    </div>

    <nav class="level box is-mobile">
        <div class="level-item">
            <a th:href="@{/transactions(year=${previousDate.year}, month=${previousDate.monthValue})}" class="button">
                <span class="icon"><i class="fa-solid fa-chevron-left"></i></span>
            </a>
        </div>
        <div class="level-item">
            <h2 class="subtitle has-text-centered"
                th:text="${#temporals.format(currentDate, 'MMMM yyyy', new java.util.Locale('pt', 'BR'))}"></h2>
        </div>
        <div class="level-item">
            <a th:href="@{/transactions(year=${nextDate.year}, month=${nextDate.monthValue})}" class="button">
                <span class="icon"><i class="fa-solid fa-chevron-right"></i></span>
            </a>
        </div>
    </nav>

    <div th:if="${#lists.isEmpty(transactions)}" class="box">
        <p>Nenhum lançamento encontrado para este mês.</p>
    </div>

    <div class="box" th:each="transaction : ${transactions}">
        <article class="media">
            <div class="media-content">
                <p>
                    <strong th:text="${transaction.description}"></strong><br>
                    <small th:text="${#temporals.format(transaction.transactionDate, 'dd/MM/yyyy')}"></small>
                </p>
            </div>
            <div class="media-right">
                <div class="level is-mobile">
                    <div class="level-item">
                        <span th:if="${transaction.type.name() == 'INCOME'}" class="has-text-success"
                              th:text="'+ R$ ' + ${#numbers.formatDecimal(transaction.amount, 1, 'POINT', 2, 'COMMA')}"></span>
                        <span th:if="${transaction.type.name() == 'EXPENSE'}" class="has-text-danger"
                              th:text="'- R$ ' + ${#numbers.formatDecimal(transaction.amount, 1, 'POINT', 2, 'COMMA')}"></span>
                    </div>
                    <div class="level-item">
                        <form th:action="@{/transactions/{id}/delete(id=${transaction.id})}" method="post"
                              onsubmit="return confirm('Tem certeza que deseja excluir este lançamento? Se for uma parcela, todo o parcelamento será excluído.');">
                            <button class="button is-danger is-small is-outlined" type="submit">
                                <span class="icon is-small"><i class="fa-solid fa-trash-can"></i></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>

    <div th:replace="~{fragments/add-transaction-modal :: modal}"></div>
</div>
</body>
</html>