<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<body>
<div th:fragment="modal" class="modal" id="add-transaction-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Novo Lançamento</p>
            <button class="delete" aria-label="close" id="modal-close-button"></button>
        </header>
        <section class="modal-card-body">
            <div id="modal-form-content"></div>
        </section>
    </div>
</div>
</body>
</html>