<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<body>
<div th:fragment="content">
    <section class="section">
        <div class="container has-text-centered">
            <h1 class="title is-1 has-text-danger" th:text="${statusCode}">Erro</h1>
            <h2 class="subtitle" th:if="${errorMessage}">
                <strong class="has-text-danger">Oops!</strong>
                <span th:text="${errorMessage}">Algo deu errado.</span>
            </h2>
            <p>
                Por favor, verifique a URL, tente novamente ou volte para a página anterior.
            </p>
            <div class="buttons is-centered" style="margin-top: 2rem;">
                <a href="javascript:history.back()" class="button is-primary">Voltar à página anterior</a>
                <a href="/" class="button is-light">Ir para a Página Inicial</a>
            </div>
        </div>
    </section>
</div>
</body>
</html>