<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Finance App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>
<body>

<header th:replace="~{fragments/header :: header}"></header>

<main class="section">
    <div class="container">
        <div th:replace="~{${contentFragment} :: content}"></div>
    </div>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

<nav class="navbar is-fixed-bottom is-hidden-desktop" role="navigation">
    <div class="navbar-brand mobile-nav-items">
        <a th:href="@{/dashboard}" class="navbar-item is-expanded is-block has-text-centered">
            <i class="fa-solid fa-house"></i>
            <span class="is-size-7">Início</span>
        </a>
        <a th:href="@{/transactions}" class="navbar-item is-expanded is-block has-text-centered">
            <i class="fa-solid fa-right-left"></i>
            <span class="is-size-7">Lançamentos</span>
        </a>
        <div class="navbar-item is-expanded"></div>
        <a href="#" class="navbar-item is-expanded is-block has-text-centered">
            <i class="fa-solid fa-chart-pie"></i>
            <span class="is-size-7">Relatórios</span>
        </a>
        <a href="#" class="navbar-item is-expanded is-block has-text-centered">
            <i class="fa-solid fa-circle-user"></i>
            <span class="is-size-7">Perfil</span>
        </a>
    </div>
</nav>

<div class="fab-wrapper is-hidden-desktop">
    <div class="fab-action-buttons">
        <a th:href="@{/transactions/new(type='INCOME')}" class="fab-action-button">
            <i class="fa-solid fa-arrow-up"></i>
            <span class="fab-label">Receita</span>
        </a>
        <a th:href="@{/transactions/new(type='EXPENSE')}" class="fab-action-button">
            <i class="fa-solid fa-arrow-down"></i>
            <span class="fab-label">Despesa</span>
        </a>
        <a href="#" class="fab-action-button">
            <i class="fa-solid fa-right-left"></i>
            <span class="fab-label">Transferência</span>
        </a>
    </div>
    <button class="fab-main-button" id="fab-toggle">
        <i class="fa-solid fa-plus"></i>
    </button>
</div>

<script th:src="@{/js/main.js}"></script>

</body>
</html>